yatzy.dtd

<!ELEMENT message (header, code, body)>
<!ELEMENT header (protocol, id)>
<!ELEMENT protocol (type, version)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT id (name, email, gamenum, playerposition)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT gamenum (#PCDATA)>
<!ELEMENT playerposition (#PCDATA)>
<!ELEMENT body (#PCDATA)>